@font-face{
    font-family: 'Century-Gothic';
    src: url('../fonts/gothic/gothic.ttf') format('truetype'),
         url('../fonts/gothic/gothic.woff') format('woff');
} 


/*COlor */
/*primary #463e43*/
/*green #33D100*/
/*darlk-primary 2d282a*/
body {
    background-color: #463e43;
}

.alert {
    font-size: 14px;
    width: 100%;
    padding: 9px 23px !important;
    margin-bottom: 29px !important;
}

a.lang {
    color: white !important;
}

a.lang:hover {
    text-decoration: none;
    color: #33D100 !important;
}


a.lang.active {
    color: #33D100 !important;
}



.navbar-toggler {
    padding: 3px 9px;
    font-size: 19px;
}

.bottom-image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
    width: 130px;
}

/*Header ............................ */
@media (min-width: 0px) {
    .page-header {
        padding: 30px 0px 10px;
    }

    .page-header > img.logo {
        position: initial;
        margin: 0 auto;
        display: block;
    }

    .ct {
        max-width: 100vw; 
        margin: 10px auto 20px;  
    }

    .ct_container {
        text-align: center;
        width: 85vw;
        margin: 0 auto;
    }

    .ct_container > h6 {
        font-size: 19px;
    }

    .ct_row_right {
        width: 100vw;
        margin-left: 15px;
    }

    .ct_row_right > hr {
        width: 85vw;
        margin: 4px auto;
        border: 1px solid white;
    }

    .page-header > div.search {
        right: 22px;
        top: 20px;
        position: absolute;
    }   

    .page-header > div.search > div { 
        padding: 4px 0;
        margin-left: 75px; 
        margin: 4px 0 0 10px;
    }

    .page-header > div.search > img {
        display: none;
    }

    .navbar {
        float: right;
        padding: 0px 20px 10px 20px;
        width: 100vw;
    }

    a.lang {
        font-size: 14px;
    }
}

@media (min-width: 576px) { 

    .ct {
        margin-top: 10px;
        margin-bottom: 25px;
    }

}


@media (min-width: 768px) {
    a.lang {
        font-size: 14px;
    }

    .page-header {
        padding: 25px 45px 10px;
    }

    .page-header > div.search {
        width: 82px;
        position: absolute;
        right: 46px;
        top: 31px;
    }

    .ct {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .ct_container {
        margin-left: 90px;
        margin-right: 15px;
        width: auto;
    }

    .ct_container > h6 { 
        font-size: 15px;
    }

    .ct_row_right {
        width: 100px;
        margin-left: 10px;
        padding-right: 0;
    }

    .ct_row_right > hr {
        width: auto;
        margin-top: 18px;
        margin-right: 0;
        border: 1px solid ;
    }

    .page-header > div.search {
        margin: 0 auto;
        text-align: right;
    }   

    .page-header > div.search > div { 
        padding: 4px 0;
        margin-left: 75px; 
        margin: 4px 0 0 80px;
    }

    .page-header > div.search > img {
        height: 42px;
        float: left;
        display: initial;
    }

    .navbar {
        float: right;
        padding: 0;
        width: auto;
        margin-top: -8px;
        border-top: 1px solid white;
    }

    .page-header > img.logo {
        position: absolute;
        top: 23px;
        left: 23px;
    }
}

@media (min-width: 848px) { 

    .ct_container {
        margin-left: 147px;
        margin-right: 15px;
        width: auto;
    }

    .page-header > img.logo {
        position: absolute;
        top: 23px;
        left: 80px;
    }
}

.navbar-toggler {
    border: 1px solid white !important;
}

.navbar-toggler-icon {
    background: url('../img/menu-button.png');   
    background-size: 100%;
    background-repeat: no-repeat;
}

.page-header {
    background-color: #463e43;
    position: relative;
    color: white;
    min-height: 112px;
}
.page-header > img.logo {
    width: 100px;
}

.company-title {
    margin: 8px 0;
    font-weight: 600;
}

.bt-search {
    background-color: #33D100; */
    width: 430px;
    float: right;
    display: inline-block;
    width: 36px;
    margin-right: 12px;
    padding: 6px 0px;
    border: none;
    color: white;
    cursor: pointer;
}
.navbar {
    float: right;
}
a.nav-link {
    color: white !important;
    padding-bottom: 2px;
    margin-left: 10px;
    font-weight: 600;
}

li.active > a.nav-link, a:hover.nav-link{
    /*border-bottom: 2px solid #33D100;*/
    color: #33D100 !important;
}



/*Page Home .......................................................................... */
@media (min-width: 0px) {
    .container-home {
        background: url('../img/home1.jpg');
        height: 380px;
    }

    .img-fluid {
        min-height: 180px;
    }

    .big-text > h2 {
        font-size: 29px;
    }

    .big-text > h3.h3-home {
        font-size: 13px;
    }

    .big-text > h3.h3-service {
        font-size: 19px;
    }

}

@media (min-width: 436px) {
    .big-text > h2 {
        font-size: 34px;
    }

    .big-text > h3.h3-home {
        font-size: 18px;
    }

    .big-text > h3.h3-service {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .container-home {
        background: url('../img/home1.jpg');
        height: 524px;
    }

    .img-fluid {
        min-width: 100% !important;
    }

}

.container-home {
    padding: 0;
    max-width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    position: relative;
}

.big-text {
    position: absolute;
    top: 25%;
    left: 8%;
}

.big-text > h2 {
    font-weight: 600;
}

.big-text > h3.h3-home {
    color: white;
    margin-top: 8px;
    padding: 8px 47px 9px 16px;
    font-weight: bold;
    background: #33D100;
    display: inline-block;
    width: auto;
}

.big-text > h3.h3-service {
    margin-top: 3px;
    border: 3px solid #33D100;
    max-width: 134px;
    padding: 6px 10px;
    font-weight: bold;
}



/*About ..................................................................... */
@media (min-width: 0px) {
    .container-about1 {
        height: 210px;
    }
    
    .container-about2 {
        min-height: 210px;
        z-index: 4;
    }

    .container-text {
        margin: 0 auto;
        padding-top: 0px;
        width: 96vw;
    }

    .ver_green {
        position: absolute;
        top: -73px;
        left: 22px;
        width: 29px;
    }

    .about-us-text {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        padding-top: 20px;
        color: #33D100;
        margin-bottom: 20px;
        font-family: 'Century-Gothic';
    }

    .about-us-text > span {
        color: white;
        font-size: 32px;
    }

}

@media (min-width: 768px) {
    .container-about1 {
        height: 358px;
    }
    .container-about2 {
        min-height: 256px;
    }

    .container-text {
        width: 83vw;
        padding-top: 16px;
        margin-left: 100px;
    }

    .container-text > div {
        padding: 16px 30px;
    }

    .ver_green {
        position: absolute;
        top: -99px;
        left: 40px;
        width: 45px;
    }

    .about-us-text {
        text-align: left;
        font-weight: bold;
        font-size: 21px;
        color: #33D100;
        padding-top: 18px;
        margin: 10px 0;
        padding-top: 0;
        margin-top: 0;
    }

    .about-us-text > span {
        color: white; 
        font-size: 23px;
    }

}

@media (min-width: 1000px) {
    .container-text > div {
        padding: 16px 30px;
    }
    .container-text {
        margin-left: 75px;
        width: 91vw;
    }
}

@media (min-width: 1100px) {
    .container-text {
        width: 90vw;
    }

    .container-text > div {
        padding: 10px 23px 0 48px;
    }

    .container-text > div.left {
        padding-right: 25px;
        padding-left: 40px;
    }
}


.container-about1 {
    background: url('../img/home1.jpg');
    padding: 0;
    max-width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    position: relative;
}

.container-about2 {
    position: relative;
    padding: 0;
    max-width: 100vw;
    background-color: #463e43;     
    /*z-index: -2;*/
}

.container-text > div > p {
    color: white;
    font-size: 15px;    
}

.container-text > div > div > p { 
    font-family: 'Century-Gothic';
}

.container-text > div {
    text-align: justify;
    font-family: 'Century-Gothic';
}

.container-text > div.left {
    padding-top: 0px;
}


h4.greenh4 {
    font-weight: bold;
    color: #33D100;
    font-size: 19px;
}




/*Recycel First Page ...........................................*/
@media (min-width: 0px) {
    .container-text-recycle {
        margin: 0 14px;
        width: auto;    
    }    

    .rec-left {
        margin-top: 20px;
    }

    .rec-right {
        margin-top: 0px;
    }

    .ver_green_rec_first {
        display: none;
    }

}

@media (min-width: 768px) {
    .container-text-recycle {
        margin-left: 69px;
        width: 93vw;    
    }

    .rec-left {
        margin-top: 0px;
    }

    .ver_green_rec_first {
        display: initial;
        /*z-index: 100;*/
    }

/*    .container-recycle {
        min-height: 259px;
    }
*/
    .rec-right {
        margin-top: 0px;
    }
}

.middle-line {
    display: inline-block; 
    float: right; 
    margin-left: 5px; 
    margin-top: 5px;
}

.middle-number {
    display: inline-block; 
    float: right;
    font-family: 'Century-Gothic';
}

.container-text-recycle > div {
    color: white;
    padding-top: 10px;
    text-align: left !important;
}

.list {
    margin-left: -40px;
}

.list li {
    position: relative;
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    color: white;
}

.list li > a:before {
    content:"...........................................................................................................";
    position:absolute;
    bottom:0px;
    z-index:-1;
    color: white;
    padding-right: 10px;
}

.list li > a.detail:before {
      content:".....................................................................................";
}

.list li:hover > a:before {
    color: #33D100 !important;
}

.list li span.span1 {
    display:inline;
    background-color:#463e43 !important;
}

.list li .number {
    float:right;
    font-weight:bold;
    background-color: none !important;
    padding-left: 10px;
    display:inline;
}

.container-recycle {
    z-index: 4;
}

.table-content {
    display: inline-block;
    width: 100%;
    color: white;
    font-family: 'Century-Gothic';
}

.table-content:hover {
    color: #33D100;
    text-decoration: none;
}


/*Recycle 2 ........................................................................................... */
@media (min-width: 0px) {

    .container-text-general {
        width: 95vw;
        margin: 0 auto;
    }

    .container-text-general > div.content-left {
        padding: 3px 0;
    }

    .in-1 {
        width: 77%;
        padding-right: 10px; 
        padding-left: 16px;
    }

    .line-number { 
        width: 16%;
    }

    .title-bottom {
        margin-left: 0;
        font-size: 28px;
        margin-bottom: 10;
    }

    .container-text-general > div.content-right {
        padding: 20px 16px 16px 16px;
    }

}

@media (min-width: 768px) {
    .container-text-general {
        margin-left: 100px;
        width: 91vw;
    }

    .container-text-general > div.content-left {
        padding: 0px 18px 0 0;    
    }

    .in-1 {
        padding-right: 13px;
        width: 100%;
    }

    .title-bottom { 
        margin-left: 0;
        font-size: 29px;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .container-text-general > div.content-right {
        padding: 32px 50px 0 12px;
    }

}

.title-bottom {
    text-align: left;
    font-weight: bold;
    color: white;
    padding-top: 0;
    -webkit-text-stroke: 1px white;
}

.container-text-general {
    padding-top: 6px;
}

.container-text-general > div.content-left {
    color: white;
    position: relative;
}

.container-text-general > div.content-left > div > ul {
    padding-left: 18px;
    margin-top: -9px;
}

.in-1 {
    float: left;
}

.line-number {
    float: left;
    padding: 0;
    padding-top: 30px;
}

.title-content {
    color: #33D100;
    font-weight: bold;
    text-align: left;
    font-size: 19px;
}

.content-ul {
    padding-left: 16px;
    margin-top: -12px;
}

.list > li.detail {
    text-align: left;
    margin-bottom: 10px;
}

.list > li.detail1 {
    text-align: left;
    margin-bottom: 25px;
}




/*Contact ................................................................... */

@media (min-width: 0px) {
    .contact-line {
        width: 10%;
    }
    .contact-left {
        padding: 0 4px;
        width: 88%;
        margin-bottom: 20px;
        font-family: 'Century-Gothic';
    }

    .container-contact-text { 
        width: 85vw;
    }
}

@media (min-width: 768px) { 
    .contact-left {
        width: 100%;
        margin-bottom: 0;
    }

    .container-contact-text { 
        width: 52vw;
    }

    .contact-right {
        font-size: 15px !important;
        padding-left: 35px;
        padding-right: 0;
        font-family: 'Century-Gothic';
    }
}

.container-contact {
    padding: 0;
    max-width: 100vw;
    position: relative;
}

.container-contact-text {
    position: relative;
    color: white;
    margin: 60px auto 0;
    background: #2d282a;
    padding: 15px 0px 20px 20px;
}

.ver_green_contact {
    position: absolute;
    top: -33px;
    left: -51px;
    width: 40px;
}

.contact-span {
    color: #33D100;
    font-weight: bold;
    font-size: 15px;
}

.contact-span2 {
    font-size: 15px;
    font-weight: bold;
}

.input-contact {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
}

.input-contact:hover, .input-contact:focus, .input-contact:active {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

label {
    margin-bottom: 0;
}

.button-send {
    padding: 5px 16px; 
    background-color: #33D100; 
    border: none; 
    color: white
}



/*Gallery .................................................................... */ 
@media (min-width: 0px) {
    .container-gallery-text { 
        width: 90vw;
    }

    a.gallery {
        width: 45%;
        height: 130px;
    }

    .container-gallery-text {
        padding: 30px 10px 0 20px;
    }
}

@media (min-width: 768px) { 
    .container-gallery-text { 
        width: 80vw;
    }

    a.gallery {
        width: 148px;
        height: 130px;
    }

    .container-gallery-text {
        padding: 30px 30px 0;
    }
}



a.gallery {
    display: block;
    float: left;
    margin-right: 11px;
    margin-bottom: 15px;
    border: 1px solid white !important; 
}

.container-gallery {
    padding: 0;
    max-width: 100vw;
    position: relative;
}

.container-gallery-text {
    position: relative;
    color: white;
    margin: 40px auto 0;
    background: #2d282a;
}

.p-gallery {
    display: block;
    width: 100%;
    font-weight: bold;
    color: #33D100;
    padding-left: 3px;
    font-family: 'Century-Gothic';
    margin-top: 15px;
}

.row-gallery {
    margin-bottom: 30px;
}




@media (min-width: 0px) {
    .footer {
        padding-bottom: 30px;
    }    
}

@media (min-width: 768px) {
    .footer {
        padding-bottom: 20px;
    }     
}

.footer {
    font-family: 'Century-Gothic';
    color: white;
    text-align: center;
    font-size: 12px;
    width: 85vw;
    margin: 40 auto 0;
    z-index: 4;
}

.footer-home {
    margin: 20 auto 0;
    padding-bottom: 10px;
}

.footer > p {
    margin: 0;
}

.footer > p > a {
    color: white !important;
    font-weight: bold;
    font-size: 15px; 
}

.footer > p > a:hover {
    color: #33D100 !important;
    text-decoration: none !important;
    font-weight: bold;
}

.footer-line2 {
    font-weight: bold; 
    font-size: 15px; 
    margin: 3px 0;
}